/*
Default CSS for Documentation Wizard
 */
 
body {font-family: arial;}
p {margin: 1em;	padding: 0}
h1 {font-size: 150%; color: #555; background-color: #AAA;}
h2 {font-size:120%; background-color: #BDBDBD;}
table {width: 90%; border: thin solid #F2F2F2; border-collapse: collapse; border-spacing: 0; empty-cells: show;}
table.sysmod {width: 30%;}
th, td {border: 1px solid black;}
th {background-color: #eeeeee;	font-weight: bold; text-align: left;}
tr.evenrow {background-color: #B2FFB2;	border: thin solid #FFFFFF;}
tr.oddrow {	background-color: #FFFFFF; }
.label {background-color: #ddd; width: 20%; text-align: left; vertical-align: top; font-weight: bold;}
.w50 {width: 50%;}
.w33 {width: 33%;}
.w20 {width: 20%;}
.w10 {width: 10%;}
.w5 {width: 5%;}
A:link {text-decoration: none;	color: #585858;}
A:visited {text-decoration: none; color: #585858;}
A:active {text-decoration: none;	color: #585858;}
A:hover {text-decoration: none;	color: #A4A4A4;}
.footer {position: relative; bottom: 0; font-size: xx-small;}
 
/* datamap css */
/* using css positioning rather than tables for layout */
#Label1 {font-size: 20pt; text-align: center; width: 25em;}
#Label2 {font-size: 10pt;position: absolute; left: 1em; top: 36pt; width: 8em;}
#Label4 {position: absolute; left: 1em; top: 50pt; width: 8em;}
#Label6 {position: absolute; left: 34em; top: 5em;}
#Label8 {position: absolute; left: 1em; top: 64pt; width: 8em;}
#Label10 {position: absolute; left: 1em; top: 78pt; width: 8em;}
#Label12 {position: absolute; left: 1em; top: 92pt; width: 9em;}
#Label14 {position: absolute; left: 34em; top: 8em;}
#Label16 {position: absolute; left: 1em; top: 106pt; width: 8em;}
#Label18 {position: absolute; left: 7em; top: 128pt; width: 40em;}
#Label19 {position: absolute; left: 7em; top: 142pt; width: 40em;}
#Label20 {position: absolute; left: 7em; top: 156pt; width: 40em;}
#Label21 {position: absolute; left: 1em; top: 174pt; width: 8em;}
#Label23 {position: absolute; left: 1em; top: 188pt; width: 8em;}
#Label25 {position: absolute; left: 1em; top: 202pt; width: 8em;}
#Label27 {position: absolute; left: 1em; top: 216pt; width: 8em;}
#Text3 {position: absolute; left: 10em; top: 36pt; width: 26em;}
#Text5 {position: absolute; left: 10em; top: 50pt; width: 24em;}
#Text7 {position: absolute; left: 41em; top: 5em;}
#Text9 {position: absolute; left: 10em; top: 64pt; width: 24em;}
#Text11 {position: absolute; left: 10em; top: 78pt; width: 24em;}
#Text13 {position: absolute; left: 10em; top: 92pt; width: 24em; height: 1.1em;}
#Text15 {position: absolute; left: 49em; top: 8em;}
#Text17 {position: absolute; left: 10em; top: 106pt; width: 24em;}
#Text22 {position: absolute; left: 10em; top: 174pt; width: 24em; height: 1.1em;}
#Text24 {position: absolute; left: 10em; top: 188pt; width: 24em; height: 1.1em;}
#Text26 {position: absolute; left: 10em; top: 202pt;}
#Text28 {position: absolute; left: 10em; top: 216pt;}
#Frame0 {position:absolute; left:0 em; top: 0pt;}
.datamap table.sysmod {position: absolute; top: 22em;}
.datamap .label {border: 1px solid black; background-color: silver; border-collapse:collapse; padding: 0px; font-size: 10pt;}
.datamap .text {border: 1px solid black; border-collapse:collapse; padding: 0px; font-size: 10pt;}
 
/* dbdict */
.dbdict td.level1 {padding-left: 1em;}
.dbdict td.level2 {padding-left: 2em;}
.dbdict td.level3 {padding-left: 3em;}
.dbdict td.level4 {padding-left: 4em;}
.dbdict td.level5 {padding-left: 5em;}
.dbdict td.level6 {padding-left: 6em;}
.dbdict td.level7 {padding-left: 7em;}
 
 
/* ddmRule */
.indent {margin-left: 5em; font-style: italic;}
 
/* link */
.link body {/* background: black; color: white; */ font-family: tahoma;}
.link h2 {display: none;}
div.back {position: absolute; right: 4em; width: 10%; margin-top: -2.5em;}
.link table {border-collapse: collapse; width: 75%;}
table#Main {width: 100%;}
table#Main td {vertical-align: top;}
table#Main td.main-cmt {font-size: 80%; padding-left: 5px;}
.link th, td {border: 1px solid blue; vertical-align: top;}
td.ln-nbr {text-align: center; font-weight: bold;}
td.main-src a {color: gray; margin-left: 10px;}
td.main-src a:hover {background: gray; color: white;}
td.main-src a:visited {color: inherit;}
table.Qry td.lbl, table.Qry th.lbl {width: 12em;}
div#sysmod {margin: 1em 0; width: 75%; text-align: center;}
div#sysmod span.lbl {margin-left: 0.5em; padding-left: 0.5em;}
div#sysmod span.data {padding-left: 0.5em; padding-right: 0.5em; margin-right: 0.5em;}
div#sysmod span.user, div#sysmod span.time, div#sysmod span.cnt {background: #CCF;}
table.PostExpr th {background: pink;}
div.lk-detail {border-top: 4px solid blue; padding-bottom: 1em; }</style>
 
           

